<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="SourcePath" value="C:\Users\jmartin\Downloads\Jerald Files\DailyTask Test\QATest\newFiles\" />
    <add key="DestinationPath" value="C:\Users\jmartin\Downloads\Jerald Files\DailyTask Test\QATest\oldFiles\" />
    
    <add key="PassedPath" value="C:\Users\jmartin\Downloads\Jerald Files\DailyTask Test\QATest\Processed\Passed\" />
    <add key="FailedPath" value="C:\Users\jmartin\Downloads\Jerald Files\DailyTask Test\QATest\Processed\Failed\" />

    <add key="ProcessType" value="7" />
    <!--ProcessType - 1: TextFile--> 
    <!--ProcessType - 2: Compress and Text--> 
    <!--ProcessType - 3: Encrypted and Text--> 
    <!--ProcessType - 4: Compress, Encrypted and Text--> 
    <!--ProcessType - 5: Filename vs Filename-->
  </appSettings>
</configuration>