<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!--STEP 1 - IF true - END to END Process || IF false Compare/Check Encoding Process Only -->
    <add key="E2EProcess" value="true" />

    <!--STEP 2 - IDENTIFY WHAT PROCESSTYPE-->
    <!--PROCESSTYPE-->
    <!--ProcessType 1 = Compare Output Files-->
    <!--ProcessType 2 = Identify Encoding Type-->
    <!--ProcessType 3 = Unzip/Decrypt without Comparing Files-->
    <!--ProcessType 4 = All Email attachment(today) in GMAIL-->
    <!--ProcessType 5 = Get all files in SERVER -->
    <add key="ProcessType" value="2"/>
    <!--PROCESSTYPE END-->

    <!--OUTPUT FILE COMPARISON PATH-->
    <add key="SourcePath" value="C:\temp\newfiles\" /> <!--NewFiles OutputFiles_Comparison-->
    <add key="DestinationPath" value="C:\temp\oldfiles\" /><!--BaseLine OutputFiles_Comparison-->
    <add key="FailedPath" value="C:\temp\failedpath\" /> <!--FailedFiles OutputFiles_Comparison-->
    <!--OUTPUT FILE COMPARISON PATH END-->

    <!--ENCODING TYPE PATH-->
    <add key="EncodingBase" value="G:\My Drive\QA Files\OP-QA - Automation\AT_Encoding_Types\Output File Encoding Type reference.xlsx" /> <!--Excel Encoding Reference Path (ABCDE)-->
    <add key="EncodingPath" value="C:\temp\EncodingTypes\" /> <!--DropFiles for Encoding AT_Encoding_Types--> 
    <!--ENCODING TYPE PATH END-->
    
    <!--SFTP Configuration-->
    <add key="SFTP" value="/Drive I: DIR_SPIN/ERATOF" /> <!--/Drive I: DIR_SPIN/ERATOF (MT4,MT5&MT6) || /var/www/html (FTP)--> 
    <add key="Server" value="52.74.184.114" /> <!--(52.74.184.114-MT4) (52.74.10.149-MT5) (52.221.171.219-MT6) || (52.221.141.91-FTP)-->
    <add key="Username" value="spintest" /> <!--spintest(MT4,MT5&MT6) || spinifex(FTP)-->
    <add key="Password" value="Spinifex01!" /> <!--Spinifex01!(MT4,MT5&MT6) || Welc0me!(FTP)-->
    <add key="Port" value="22" />
    <!--SFTP Configuration END -->
    
    <!--Python Script Configuration-->
    <add key="GmailUser" value="testuser@spinifexit.com" />
    <add key="GmailPass" value="testuser2023!" />
    <!--Python Script Configuration END-->

    <!--DO NOT CHANGE-->
    <add key="Temp" value="C:\temp\" />
  </appSettings>
</configuration>