<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="EncodingBase" value="G:\My Drive\QA Files\OP-QA - Automation\AT_Encoding_Types\Output File Encoding Type reference.xlsx" /> <!--DropFiles for Encoding AT_Encoding_Types-->
    <add key="EncodingPath" value="C:\temp\EncodingTypes\" /> <!--Excel Encoding Reference Path (ABCDE)--> 
    
    <add key="SourcePath" value="C:\temp\newfiles\" /> <!--BaseLine OutputFiles_Comparison-->
    <add key="DestinationPath" value="C:\temp\oldfiles\" /> <!--NewFiles OutputFiles_Comparison-->
    <add key="FailedPath" value="C:\temp\failedpath\" /> <!--FailedFiles OutputFiles_Comparison-->
    
    <add key="Decryption" value="on" /> <!--(make sure to ON if there are encrypted files)-->
    <add key="PathCreator" value="off" /> <!--(off if path exist)-->
    
    <add key="ProcessType" value="2"/>
    <!--[Done] ProcessType 1 = Compare Output Files-->
    <!--[In-Progress] ProcessType 2 = Identify Encoding Type-->
    <!--[Done] ProcessType 3 = Unzip/Decrypt Files-->
  </appSettings>
  
</configuration>